footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    background: var(--bg-secondary);
    padding: 30px;
    gap: 30px;
    justify-items: center;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
}

footer img {
    width: 100px;
}

.title-footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.title-footer h1 {
    font-size: 2em;
}

.options-footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.options-footer h2 {
    font-size: 1.8em;
}

.options-footer ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.options-footer a {
    color: var(--text-light);
    text-decoration: none;
}

.options-footer a:hover {
    color: var( --light-blue);
    text-decoration: underline;
}